*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test/dummy/log/test.log

.sass-cache

# RubyMine
/.idea

# Mac files
.DS_Store

# VIM files
tags
*.swp
*.swo
*.*~
*.vim
coverage.vim

# Coveralls.io
.coveralls.yml
